[Desktop Entry]
Type=Application
Name=doomgeneric
Comment=Port of Doom for Nova
Exec=/bin/doom.elf
Icon=/Library/AppData/org.boredos.doomgeneric/doomgeneric.png
Terminal=false
Categories=Game;Entertainment;
